<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="col-sm-4 form-group">
                <label for="name">Event Name</label>
                <input 
                    type="text" 
                    id="eventName" 
                    class="form-control"
                    #eventNameInput
                >
            </div>
            <div class="col-sm-4 form-group">
                <label for="location">Location Name</label>
                <input 
                    type="text" 
                    id="location" 
                    class="form-control"
                    #locationInput
                >
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" (click)="onAddEvents()">Add Events</button>
                    <button class="btn btn-danger" type="button">Delete</button>
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
