<div class="row">
    <div class="col-xs-12">
        <img [src]="employee.imagePath" alt="{{ employee.name }}" class="img-responsive" style="max-height: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{employee.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button 
                type="button" 
                class="btn btn-primary dropdown-toggle">
                Manage Employee <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Employee list</a></li>
                <li><a href="#">Edit list</a></li>
                <li><a href="#">Delete Employee</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{employee.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>